Repository Jai0212/Cash-App-Bias-Busters, pull requests merged in 2024-11, with the labels that each got.

#41 Updated App.jsx, UserNavbar.jsx; added About page
  frontend/src/App.jsx
  frontend/src/Components/UserNavbar.jsx
  frontend/src/pages/About.jsx
Labels: Frontend

#46 Dashboard Styling
  frontend/index.html
  frontend/src/Components/Navbar.css
  frontend/src/Components/Navbar.jsx
  frontend/src/ControlButtons.css
  frontend/src/ControlButtons2.css
  frontend/src/Dashboard.css
  frontend/src/Dashboard2.css
  frontend/src/dashboard.jsx
  frontend/src/pages/Login.css
  frontend/src/pages/Login.jsx
  frontend/src/pages/Signup.css
  frontend/src/pages/Signup.jsx
Labels: Frontend

#50 Added test cases
  backend/ml_model/model_with_score.pkl
  backend/tests/use_cases/test_user_interactor.py
  database/output.csv
Labels: backend

#81 #80 updated readme
  README.md
  frontend/src/pages/DashboardPage/Dashboard/Dashboard.css
Labels: documentation

#96 Jai/TLI 101.i -- Added data to gitignore and fix backend accordingly for security
  .gitignore
  backend/app/__pycache__/__init__.cpython-312.pyc
  backend/app/controllers/__pycache__/__init__.cpython-312.pyc
  backend/app/controllers/__pycache__/app.cpython-312.pyc
  backend/app/controllers/app.py
  backend/app/entities/__pycache__/__init__.cpython-312.pyc
  backend/app/entities/__pycache__/user.cpython-312.pyc
  backend/app/infrastructure/__pycache__/__init__.cpython-312.pyc
  backend/app/infrastructure/__pycache__/db_connection_manager.cpython-312.pyc
  backend/app/repositories/__pycache__/__init__.cpython-312.pyc
  backend/app/repositories/__pycache__/csv_file_repo.cpython-312.pyc
  backend/app/repositories/__pycache__/interfaces.cpython-312.pyc
  backend/app/repositories/__pycache__/sqlite_db_repo.cpython-312.pyc
  backend/app/use_cases/__pycache__/__init__.cpython-312.pyc
  backend/app/use_cases/__pycache__/generate.cpython-312.pyc
  backend/app/use_cases/__pycache__/get_headers.cpython-312.pyc
  backend/app/use_cases/__pycache__/get_last_login_data.cpython-312.pyc
  backend/app/use_cases/__pycache__/get_values_under_header.cpython-312.pyc
  backend/app/use_cases/__pycache__/upload_data.cpython-312.pyc
  backend/demo.py
  backend/ml_model/entities/__pycache__/datapoint_entity.cpython-312.pyc
  backend/ml_model/model_with_score.pkl
  backend/ml_model/repository/__pycache__/data_preprocessing.cpython-312.pyc
  backend/ml_model/repository/__pycache__/file_reader.cpython-312.pyc
  backend/ml_model/repository/__pycache__/model_saver.cpython-312.pyc
  backend/ml_model/repository/decision_tree_model_1.pkl
  backend/ml_model/repository/decision_tree_model_2.pkl
  backend/ml_model/repository/decision_tree_model_3.pkl
  backend/ml_model/repository/decision_tree_model_4.pkl
  backend/ml_model/repository/decision_tree_model_5.pkl
  backend/ml_model/repository/multiple_models.py
  backend/ml_model/use_cases/__pycache__/model.cpython-312.pyc
  backend/ml_model/use_cases/multiple_model_use.py
  backend/uploads/jj@gmail.com/decision_tree_model_1.pkl
  backend/uploads/jj@gmail.com/decision_tree_model_2.pkl
  backend/uploads/jj@gmail.com/decision_tree_model_3.pkl
  backend/uploads/jj@gmail.com/decision_tree_model_4.pkl
  backend/uploads/jj@gmail.com/decision_tree_model_5.pkl
  database/full_single_transaction.csv
  database/single_transaction.csv
  database/test.csv
Labels: backend

#99 Jai/TLI 101.g -- QR Code Functionality to collaborate and show detailed graph and CSS
  backend/app/controllers/__pycache__/app.cpython-312.pyc
  backend/app/controllers/app.py
  backend/app/repositories/__init__.py
  backend/app/repositories/__pycache__/__init__.cpython-312.pyc
  backend/app/repositories/__pycache__/interfaces.cpython-312.pyc
  backend/app/repositories/interfaces.py
  backend/app/repositories/user_repository.py
  backend/app/use_cases/__init__.py
  backend/app/use_cases/__pycache__/__init__.cpython-312.pyc
  backend/app/use_cases/share.py
  backend/demo2.py
  database/output.csv
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App/App.jsx
  frontend/src/pages/DashboardPage/Dashboard/Dashboard.jsx
  frontend/src/pages/DashboardPage/QRCodeShare/QRCodeShare.css
  frontend/src/pages/DashboardPage/QRCodeShare/QRCodeShare.jsx
  frontend/src/pages/DashboardPage/Slider/Slider.jsx
  frontend/src/pages/SharePage/SharePage.css
  frontend/src/pages/SharePage/SharePage.jsx
  frontend/vite.config.js
Labels: enhancement, Frontend

#101 #100 Refactored Timeframe Buttons to TimeButtons Component from dashboard
  README.md
  frontend/src/pages/DashboardPage/Dashboard/Dashboard.jsx
  frontend/src/pages/DashboardPage/TimeButtons/TimeButtons.css
  frontend/src/pages/DashboardPage/TimeButtons/TimeButtons.jsx
Labels: Frontend

#114 #113 updated readme to match the given requirements
  README.md
Labels: documentation
